name: frame
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.4.9
  go_router: ^13.0.0
  flutter_svg: ^2.0.9
  image_picker: ^1.0.4
  image: ^4.1.3
  path_provider: ^2.1.1
  xml: ^6.5.0
  flutter_colorpicker: ^1.0.3
  image_gallery_saver_plus: ^4.0.1
  permission_handler: ^11.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
